body {
    margin: 0;
    font-family: 'YeogiOttaeJalnan';
    background: #ff8c00;
    color: white;
    background-image: url(./young40.jpg), url(./young41.jpg);
    background-size: 500px, 420px;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
}
@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 100px;
    font-weight: bold;
}

.start-btn, .next-btn {
    font-family: 'YeogiOttaeJalnan';
    padding: 15px 30px;
    background: white;
    color: black;
    border: none;
    font-size: 36px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.quiz-container {
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.option {
    display: block;
    font-size: 24px;
    margin: 15px 0;
    cursor: pointer;
}

