body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'DosMyungjo';

    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative; 
}

@font-face {
    font-family: 'DosMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


@font-face {
    font-family: 'DepartureMono';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.big-text {
    font-size: 64px;
    margin: 24px;
}

.mid-text {
    font-size: 32px;
    margin: 24px;
}


.top-right{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    font-family: 'DepartureMono';

}
.bottom-left {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    font-family: 'DepartureMono';
}


